.addTaskFormHTML {
    padding-left: 100px;
    display: flex;
}

.addTaskFormHTML h4 {
    margin-bottom: 10px;
    margin-top: 15px;
}


.addTask-bottom {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding-bottom: 80px;
    padding-left: 100px;

}

.clear-button {
    width: 136px;
    height: 70px;
    background: #FFFFFF;
    border: 1px solid #647188;
    border-radius: 10px;
    color: #647188;
}

.addTask-button {
    width: 190px;
    height: 70px;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;


}

.leftcontainer {
    overflow: hidden;
    width: 600px;
}

.right-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;

    right: 0;
    bottom: 0;

}

.subtasks {
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 5px;
}

.subtasks-trash {
    width: 20px;
    height: 20px;
    object-fit: cover;
    cursor: pointer;
}

.display-flex-in-addtask {
    display: flex;
}

@media (max-width: 1200px) {

    .Mainheader{
        background-color: white;
    }
    
    .addTask-bottom {
        position: absolute;
        top: 10px;
        right: 10px;

    }

    .addTask-button{
        height: 60px;
        width: 183px;
    }

    .clear-button {
        height: 60px;
        width: 110px;
    }

    .addTaskFormHTML {
        display: flex;
        justify-content: center;
        padding-left: 50px;
        padding-right: 50px;
    }

    .input {
        width: 100%;
    }

    .input-date {
        width: 100%;
    }

    .input-subtasks {
        width: 100%;
    }

    .inputUser {
        width: 100%;
    }

    .inputfield-new-user {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .Main-Container {
        height: 100vh;
    }


}

@media (max-width: 770px) {}

@media (max-width: 500px) {

    .Main-Container {
        height: 100%;

    }

    .addTaskFormHTML {
        padding-bottom: 200px;
    }

    .input-date {
        width: 100%;
    }

}


@media (max-width: 440px) {

    .leftcontainer {
        width: 330px;
        padding-left: 5px;
    }

    .inputfield-new-user {
        width: 90%;
    }

    .rightContainer {
        display: none;
    }

    .input-date {
        width: 100%;
    }

}