.addTaskFormHTML {
    padding-left: 100px;
    display: flex;
}

.addTaskFormHTML h4 {
    margin-bottom: 10px;
    margin-top: 15px;
}


.addTask-bottom {
    display: flex;
    gap: 20px;
    justify-content: flex-end;

}

.clear-button {
    width: 136px;
    height: 61px;
    background: #FFFFFF;
    border: 1px solid #647188;
    border-radius: 10px;
    color: #647188;
}

.addTask-button {
    width: 180px;
    height: 61px;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;

}

.right-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.subtasks {
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 5px;
}

.subtasks-trash {
    width: 20px;
    height: 20px;
    object-fit: cover;
    cursor: pointer;
}



@media (max-width: 1200px) {

    .right-container {
        display: none;
    }

    .addTaskFormHTML {
        display: flex;
        justify-content: center;
        padding-left: 50px;
        padding-right: 50px;
    }

    .input {
        width: 100%;
    }

    .input-date {
        width: 100%;
    }

    .input-subtasks {
        width: 100%;
    }

    .inputUser {
        width: 100%;
    }

    .inputfield-new-user {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .Main-Container {
        height: 100vh;
    }

    
}

@media (max-width: 770px) {

    

    .nav-link {
        gap: 10px;
    }
}

@media (max-width: 500px) {

    .Main-Container {
        height: 100%;
        
    }

    

    .input-date{
        width: 100%;
    }

}


@media (max-width: 440px) {

    .leftcontainer {
        width: 330px;
        padding-left: 5px;
    }

    .inputfield-new-user {
        width: 90%;
    }

    .rightContainer {
        display: none;
    }

    .input-date{
        width: 100%;
    }

}