.start-overlay {
    background-color: var(--color-blue-main);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: start-overlay-animation 0.6s ease-in-out both;
}

@keyframes start-overlay-animation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.start-logo {
    width: 265px;
    height: 324px;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: start-logo-animation 0.4s ease-in-out both;
}

@keyframes start-logo-animation {
    0% {
        opacity: 1;
    }

    100% {
        width: 101px;
        height: 122px;
        top: 80px;
        left: 80px;
        opacity: 0.5;
    }
}