/* Style for the Mainboard  */
.main-content {
    height: calc(100vh - 100px);
    width: calc(100vw - 230px);
}

h1 {
    font-weight: 700;
    font-size: 61px;
}

.InputAndButton {
    display: flex;
    align-items: center;
    gap: 35px;
}

.addTaskButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 138px;
    height: 51px;
    background: #4589ff;
    border: 1px solid #4589ff;
    border-radius: 10px;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
}

.addTaskButton:hover {
    cursor: pointer;
    background-color: #005DFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.search-input {
    width: 251px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
}

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.kanbanBoard {
    display: flex;
    justify-content: space-evenly;
}

.drag-area {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 290px;
    height: 500px;
    border-radius: 30px;
}

.drag-over {
    border: dashed 2px lightgray;
}

.drag-area-top-Section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 35px;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 120%;
    color: #42526E;

}

.drag-area-top-Section img:hover {
    cursor: pointer;
}

.plusButton {
    width: 30px;
    height: 30px;
}

/* Style for the Task-Cards  */
.todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 18px 19px;
    gap: 10px;
    width: 250px;
    background-color: white;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 20px;
}

.todo:hover {
    cursor: grab;
}

.title {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #4589ff;
}

.task-progress {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    line-height: 120%;
    width: 100%;
    height: 16px;
}

.progress-bar {
    width: 100%;
    max-width: 140px;
    height: 8px;
    background: #F4F4F4;
    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box;
}

.progress-bar-fill {
    transition: all ease-in 225ms;
    background-color: #4589ff;
    height: 8px;
    width: 0%;
}

.UserAndPriority {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.orangeCategory {
    background-color: #FF8A00;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px;

    color: white;
}

.redCategory {
    background-color: #FF0000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px;

    color: white;
}

.purpleCategory {
    background-color: #E200BE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 5px;

    color: white;
}

.mintCategory {
    background-color: #1FD7C1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 5px;

    color: white;
}

.greenCategory {
    background-color: #2AD300;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 5px;

    color: white;
}

.blueCategory {
    background-color: #0038FF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 5px;

    color: white;
}

.lightblueCategory {
    background-color: #8AA4FF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 5px;

    color: white;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #A8A8A8;
}

.option-wrapper {
    background-color: #FFFFFF;
    width: 422px;
    height: 150px;
    z-index: 3;
    scale: 0;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 46px;
    color: white;
}

/* Style for the onclick Add Task Mask */
.AddTaskMaskBg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(211, 211, 211, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.animationFadeInRight {
    animation: fadeInright 1s ease 0s 1 normal forwards;
}

@keyframes fadeInright {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.animationFadeInBottom {
    position: absolute;
    top: 50%;
    left: 50%;
    animation: fadeInBottom 1s ease-in-out 0s 1 normal forwards;
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

.AddTaskMaskContainer {
    width: 518px;
    overflow-y: scroll;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 30px 0px 30px 30px;
    padding: 20px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
}

.AddTaskMaskContainer::-webkit-scrollbar {
    display: none;
}

.addTaskForm {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.addTaskForm h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 120%;
    color: #42526E;
    margin-bottom: 5px;
    margin-top: 5px;
}

.addTaskForm h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    color: #000000;
    padding-left: 20px;
}

.addTaskForm button {
    width: 180px;
    height: 61px;
    background-color: var(--color-blue-main);
    padding: 18px 10px;
    border: none;
    border-radius: 10px;
    font-size: var(--font-size-xxlarge);
    color: white;
    cursor: pointer;
    display: flex;
    display: flex;
    gap: 10px;
    align-items: center;
}

.addTask-top {
    display: flex;
    align-items: center;
    gap: 30px;
}

.priorityContainer {
    display: flex;
    gap: 10px;
}

.priority-urgent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 16%);
    width: 136px;
    height: 51px;
    margin-top: 20px;
}

.priority-urgent:hover {
    border-bottom: 2px solid #FF3D00;
    cursor: pointer
}

.prio-urgent-selected {
    background-color: #FF3D00;
    color: white;
}

.priority-medium {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 18px, 10px, 18px, 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 16%);
    width: 136px;
    height: 51px;
    margin-top: 20px;
}

.priority-medium:hover {
    border-bottom: 2px solid #FFA800;
    cursor: pointer;

}

.prio-medium-selected {
    background-color: #FFA800;
    color: white;
}

.priority-low {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 18px, 10px, 18px, 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 16%);
    width: 136px;
    height: 51px;
    margin-top: 20px;
}

.priority-low:hover {
    border-bottom: 2px solid #7AE229;
    cursor: pointer;

}

.prio-low-selected {
    background-color: #7AE229;
    color: white;
}

.input-title {
    display: flex;
    align-items: center;
    width: 422px;
    border: none;
    border-bottom: 1px solid #D1D1D1;
    padding: 13px 21px;
}

.input {
    display: flex;
    align-items: center;
    width: 422px;
    border: none;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 0;
    border-top: none;
    border-left: none;
    border-right: none;
}

.input-title input {
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
}

.input-title input:focus {
    outline: none;
}

.input-title select {
    width: 420px;
    border: none;
}

.inputfield-new-user {
    display: flex;
    border-bottom: 1px solid #D1D1D1;
    width: 422px;
    padding: 10px 21px;
    padding-top: 0;
}

.input-date {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    isolation: isolate;
    width: 100%;
    height: 51px;
    background: #FFFFFF;
    border-bottom: 1px solid #D1D1D1;
}

input[type="date"]::-webkit-calendar-picker-indicator {

    background: url(./../assets/img/date.png) center no-repeat;
    background-size: 28px;
    cursor: pointer;

}

.input-date input {
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    width: 410px;
    height: 23px;
    font-size: 19px;
    color: #D1D1D1;
}

.inputfield-new-category {
    display: flex;
    border-bottom: 1px solid #D1D1D1;
    width: 422px;
    padding: 18px 21px;
}

.chosen-color {
    position: relative;
    bottom: 53px;
    left: -20px;
}

.input-subtasks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 422px;
    border: none;
    padding: 13px 21px;

}

.input-subtasks input {
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    color: #D1D1D1;
}

.new-Subtasks {
    width: 100%;
}

.subtaskList {
    display: flex;
    margin-top: 10px;
}

.add-description {
    width: 422px;
    height: 103px;
    border: 1px solid #D1D1D1;
    border-radius: 0px 10px 10px 10px
}


.CloseCross {
    width: 21.65px;
    height: 21.65px;
    position: absolute;
    left: 481.31px;
    top: 16px;
}

.CloseCross:hover {
    cursor: pointer;
}

.selector-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 422px;
    border-bottom: 1px solid #D1D1D1;
    padding: 18px 21px;
    gap: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
}

.selector-header:hover {
    cursor: pointer;
}

.checkAndCrossIconsCategory {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

}

.selectorCell {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 422px;
    padding: 18px 21px;
}

.selectorCell:hover {
    background-color: #D2E3FF;
    ;

}

/* Style for the onclick Detail Container */
.DetailContainer {
    z-index: 100;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(211, 211, 211, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Detail {
    width: 623px;
    height: 623px;
    background-color: white;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
    border-radius: 30px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.detail-category {
    width: 200px;
}

.detail-title {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
}

.detail-text {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: black;
}

.detail-dueDate {
    display: flex;
    align-items: center;
    gap: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
}

.detail-dueDate p {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;

}

.detail-priority {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    gap: 20px;

}

.detail-assignedTo {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;

}

.detail-assignedTo p {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;

}

.CloseCross-DetailTask {

    width: 21.65px;
    height: 21.65px;
    position: absolute;
    right: 42px;
    top: 42px;
}

.CloseCrossDetailTask:hover {
    cursor: pointer;
}

.DetailTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
}


.edit-button {
    position: absolute;
    bottom: 24px;
    right: 41px;
}

.editTask h4 {
    margin: 20px;
}

.trash-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 86px;
    height: 61px;
    position: absolute;
    bottom: 130px;
    right: 31px;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
}

.trash {
    width: 25px;
    height: 25px;
}

.ok {
    width: 86px;
    height: 61px;
    position: absolute;
    bottom: 44px;
    right: 31px;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;

}

.d-none {
    display: none;
}

.add-date{
    outline: none;
}

.add-date:hover{
    cursor: pointer;
}