body {
    margin: 0;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sideBar {
    background-color: rgb(42, 54, 71);
    height: 100vh;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.SideNav {}

.joinLogo {
    padding-top: 66px;
}

.Bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    color: white;

}

.Bar img {
    width: 22px;
    height: 22px;
    padding-left: 20px;

}

.Bar p {
    padding-right: 20px;
}

.legalNotice {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    color: white;
    padding-bottom: 112px;

}

.MainBoard {
    height: 100vh;
    width: 85%;
    background-color: rgb(246, 247, 248);
}

.Mainheader {
    height: 100px;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 4px 0px lightgrey;

}

.header h2 {
    padding-left: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
}

h1 {
    font-weight: 700;
    font-size: 61px;
}

.InputAndButton {
    display: flex;
    align-items: center;
    gap: 35px;

}

.addTaskButton {
    width: 137px;
    height: 51px;
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
}

.findTaskInput {
    width: 251px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #A8A8A8;
    border-radius: 10px;

}

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.kanbanBoard {
    display: flex;
    justify-content: space-evenly;

}

.drag-area {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 250px;
    height: 500px;
    border-radius: 10px;
}


.drag-area-top-Section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 35px;


}

.plusButton {
    width: 30px;
    height: 30px;

}

.todo {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 18px 19px;
    gap: 10px;

    width: 250px;
    background-color: white;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 20px;
}

.todo:hover {
    cursor: grab;
}

.Design {
    background-color: rgb(255, 122, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 3px;
    width: 55px;
    color: white;

}

.Sales {
    background-color: violet;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 3px;
    width: 55px;
    color: white;
}

.Backoffice {
    background-color: rgb(31, 215, 193);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 3px;
    width: 120px;
    color: white;
}

.Media {
    background-color: rgb(255, 199, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 3px;
    width: 55px;
    color: white;
}

.Marketing {
    background-color: rgb(0, 56, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 3px;
    width: 120px;
    color: white;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #A8A8A8;
}


.DetailContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(211, 211, 211, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

}

.Detail {
    width: 623px;
    background-color: white;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;


}

.DetailTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;

}

.d-none {
    display: none;
}