.headline{
    height: 100px;
    background-color: #4589ff;  
}

.d-none{
    display: none;
}

.navigation{
    height: 89.5vh;
    width: 232px;
    border-right: solid grey;
}

.relative{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.display{
    display: flex;
}
/* mainside */
.contact-main{
    height:89vh;
    min-width: 453px;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
    overflow-y: scroll;
}

.new-contact-button{
    display: flex;
    justify-content:center ;
    align-items: center;
    background-color: #4589ff;
    width: 197px;
    height: 53px;
    border-radius: 10px;
    border: 1px solid #4589ff;
    color: #ffffff;
    font-size: 23px;
    font-weight: 400;
}

.contact-right-side{
    width: 70vw;
}

.show-contact{
    
    height: 75vh;
    
}

.show-button{
    
    height: 14vh;
    display: flex;
    align-items:center;
    justify-content:flex-end;
    margin-right: 50px;
}

/* add contact */

.add-contact{
    width: 500px;
    height: 100vh;
    border-radius: 0px 30px 30px 0px;
}

.add-contact-head{
    background-color: #4589ff;
    width: 580px;
    height:33vh;
    border-radius: 0px 30px 0px 0px;
    
}

.add-contact-main{
    height: 67vh;
    width: 580px;
    background-color: #ffffff;
    border-radius: 0px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-member{
    width: 120px;
    height: 120px;
    background-color: #D1D1D1;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.button-container{
    display: flex;
}

.button-cancel{
    width: 136px;
    height: 61px;
    background-color: #ffffff;
    border: 1px solid #647188;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 23px;
    margin-right: 16px;
}

.button-create{
    width: 210px;
    height: 61px;
    background-color: #4589ff;
    color: #ffffff;
    border-radius: 10px;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 16px;
}

.img-cross{
    margin: 20px;
}

.add-contact-header-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-contact-cross{
    display: flex;
    justify-content: flex-end;
}

.add-contact-h{
    font-weight: 700;
    font-size: 48px;
    color: #ffffff;
    margin: 0;
}

.add-contact-text{
    font-weight: 400;
    font-size: 27px;
    color: #ffffff;
}

.contact-bar{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact-letter-main{
    width: 80%;
    
}

.contact-letter{
    padding-left: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #D1D1D1;
}

.contact-child-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-child{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    margin-right: 16px;
}

.contact-child-name{
    font-size: 19px;
    font-weight: 400;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    margin-left: 16px;
}

.contact-child-email{
    font-size: 16px;
    font-weight: 400;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    margin-left: 16px;
    color: #4589ff;
}

.contact-detail-head{
    height: 130px;
    width: 600px;
    display: flex;
    
    align-items: center;
}

.contact-detail-name-task{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25px;
}

.contact-detail-big-letter{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 3px solid #ffffff;
    color: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    margin-right: 25px;
    font-size: 47px;
    font-weight: 500;
    display: flex;
    justify-content:center ;
    align-items: center;
    
}

.contact-detail-big-name{
    font-size: 48px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 13px;
    margin-top: 13px;
}

.contact-detail-add-task{
    color: #005DFF;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}

.contact-detail-info-main{
    display: flex;
    align-items: center;
    width: 600px;
    
}

.contact-detail-info{
    font-size: 23px;
    font-weight: 700;
    margin-right: 50px;
}

.contact-detail-edit{
    font-size: 16px;
    font-weight: 400;
    margin-left: 50px;
}

.contact-detail-email-number{
    font-size: 16px;
    font-weight: 700;
}

.contact-detail-main-side{
padding: 50px;
}

.animationFadeIn {
    animation: fadeIn 1s ease 0s 1 normal forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  
    0% {
      transform: translateX(-100%);
    }
  
    100% {
      transform: translateX(0);
    }
}

.animationFadeInRight {
    animation: fadeInright 1s ease 0s 1 normal forwards;
}
  
  @keyframes fadeInright {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  
    0% {
      transform: translateX(100%);
    }
  
    100% {
      transform: translateX(0);
    }
  }