html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    background-color: var(--color-blue-main);
    padding: 16px 8px;
    border-radius: 10px;
    color: white;
}

.btn2 {
    background-color: var(--color-blue-main);
    padding: 16px 8px;
    border-radius: 10px;
    color: white;
}