html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: var(--font-size-regular) 'Open Sans', sans-serif;
}

a {
    color: var(--color-blue-main);
    text-decoration: none;
}

a:hover {
    color: var(--color-blue-main-hover);
}

.headline {
    margin-top: 0;
    font-size: var(--font-size-h1);
}

.btn {
    background-color: var(--color-blue-main);
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    font-size: var(--font-size-xxlarge);
    color: white;
    cursor: pointer;
}

.btn a {
    color: white;
}

.btn:hover {
    background-color: var(--color-blue-main-hover);
}

.btn-light {
    background-color: white;
    padding: 8px 16px;
    border: 1px solid #647188;
    border-radius: 10px;
    font-size: var(--font-size-xxlarge);
    color: #647188;
    cursor: pointer;
}

.btn-light:hover {
    background-color: var(--color-blue-main-hover);
    color: white;
    border-color: transparent;
}

::-webkit-input-placeholder {
    /* Edge */
    color: #d1d1d1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #d1d1d1;
}

::placeholder {
    color: #d1d1d1;
}

.border-bottom {
    border-bottom: var(--border);
}

.display-none {
    display: none;
}



/* Style for the Header   */

.Mainheader {
    height: 100px;
    background-color: #4589ff;
    ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 5px 4px 0px lightgrey;
    padding-left: 39px;
    padding-right: 39px;
}

.rightContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
}

.rightContainer h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
}

.Main-Container {
    display: flex;
}


/* Style for the SideBar  */

.sideBar {
    background-color: white;
    height: 100vh;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sideNav {
    padding-top: 66px;
}


.Bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    color: black;
}

.Bar img {
    width: 22px;
    height: 22px;
    padding-left: 20px;
}

.Bar p {
    padding-right: 20px;
}

.legalNotice {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    color: black;
    padding-bottom: 112px;
}