html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: var(--font-size-regular) 'PT Sans', sans-serif;
}

.btn {
    background-color: var(--color-blue-main);
    padding: 16px 8px;
    border-radius: 10px;
    color: white;
}