.displayflex {
    display: flex;
}

.flexcolumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexmid {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexaround {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MainCSS */
.mainside {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* top */
.mainmorning {
    margin-bottom: 40px;
}

.morning {
    font-size: 48px;
    margin: 15px;
}

.name {
    font: var(--font-size-xxxlarge) 'Open Sans Bold', sans-serif;
    color: #4589FF;
    margin: 15px;
}

/* middle */
.tasksurgent {
    width: 682px;
    height: 191px;
    background-color: #4589ff;
    border-radius: 30px;
    margin: 15px;
    transform: scale(1);
    transition: all 0.125s ease-in-out;
}

.tasksurgent:hover {
    cursor: pointer;
    border-radius: 0px 30px 30px 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    color: #4589FF;
    transform: scale(1.03);
    transition: all 0, 125s ease-in-out;
}

.imgurgent {
    width: 65px;
    height: 66px;
    border-radius: 100%;
    border: 3px solid #FFFFFF;
}

.urgenttext {
    font-size: 23px;
    font-weight: 400;
    color: #FFFFFF;
}

.tasksurgent:hover .urgenttext {
    color: #4589FF;
}

.deadlinetime {
    font: 33px 'Open Sans Bold', sans-serif;
    font-size: 33px;
    font-weight: 700;
    color: #FFFFFF;
}

.tasksurgent:hover .deadlinetime {
    color: #4589FF;
}

.deadlinetext {
    font-size: 23px;
    font-weight: 400;
    color: #FFFFFF;
}

.tasksurgent:hover .deadlinetext {
    color: #4589FF;
}

.bordermid {
    height: 145px;
    width: 3px;
    background-color: #FFFFFF;

}

.tasksurgent:hover .bordermid {
    background-color: #4589FF;
}

.urgentnumber {
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    margin-left: 20px;
}

.tasksurgent:hover .urgentnumber {
    color: #4589FF;
}

/* todo */
.todo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 208px;
    height: 191px;
    border-radius: 30px;
    background-color: #D2E3FF;
    margin: 15px;
}

.todo:hover {
    width: 242px;
    height: 207px;
    border-radius: 0px 30px 30px 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    /* transition: 0.4s; */
}

.todonumber {
    font-size: 48px;
    font-weight: 700;
    color: #000000;
    margin-left: 20px;
}

.todo:hover .todonumber {
    font-size: 58px;
    color: #005DFF;
}

.todotext {
    font-weight: 400;
    font-size: 23px;
    color: #4589FF;
    line-height: 120%;
}

.todo:hover .todotext {
    font-size: 28px;
    color: #005DFF;
}

.taskbot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 208px;
    height: 191px;
    border-radius: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    margin: 15px;
}

.taskbot:hover {
    width: 242px;
    height: 207px;
    border-radius: 0px 30px 30px 30px;
    background-color: #005DFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    /* transition: 0.4s; */
}

.tasknumber {
    font-size: 48px;
    font-weight: 700;
    color: #000000;
    margin-left: 20px;
}

.taskettext {
    font-weight: 400;
    font-size: 23px;
    color: #4589FF;
}

.taskbot:hover .tasknumber {
    font-size: 58px;
    color: #FFFFFF;
}

.taskbot:hover .taskettext {
    font-size: 28px;
    color: #FFFFFF;
}

.taskbot:hover .taskimg {
    border-radius: 100%;
    border: 3px solid #FFFFFF;
}