<div class="sideNav">


    <a href="./summary.html" onclick="changeNavbarBgColor(1)" id="navigation_summary" class="Bar">
        <img src="assets/img/Vector (3).png" alt="">
        <p>Summary</p>
    </a>
    <a href="./board.html" onclick="changeNavbarBgColor(2)" id="navigation_board" class="Bar">
        <img src="assets/img/Vector (4).png" alt="">
        <p>Board</p>
    </a>
    <a href="./add-task.html" onclick="changeNavbarBgColor(3)" id="navigation_addTask" class="Bar ">
        <img src="assets/img/Group 1.png" alt="">
        <p>Add Task</p>
    </a>
    <a href="./contacts.html" onclick="changeNavbarBgColor(4)" id="navigation_contacts" class="Bar">
        <img src="assets/img/Vector (5).png" alt="">
        <p>Contacts</p>
    </a>


</div>


<a class="legalNotice" href="./impress.html" onclick="changeNavbarBgColor(5)" id="navigation_legal" class="Bar bg-blue">
    <img src="assets/img/Group 4 .png" alt="">
    <p>Legal notice</p>
</a>