
    <div class="sideNav">


        <div class="Bar">
            <img src="assets/img/Vector (3).png" alt="">
            <p>Summary</p>
        </div>
        <div class="Bar">
            <img src="assets/img/Vector (4).png" alt="">
            <p>Board</p>
        </div>
        <div class="Bar">
            <img src="assets/img/Group 1.png" alt="">
            <p>Add Task</p>
        </div>
        <div class="Bar">
            <img src="assets/img/Vector (5).png" alt="">
            <p>Contacts</p>
        </div>


    </div>

    <div class="legalNotice">
        <img src="assets/img/Group 4 .png" alt="">
        <p>Legal notice</p>
    </div>
