<div class="sideNav">


    <a href="./dashboard.html" class="Bar">
        <img src="assets/img/Vector (3).png" alt="">
        <p>Summary</p>
    </a>
    <a href="./board.html" class="Bar">
        <img src="assets/img/Vector (4).png" alt="">
        <p>Board</p>
    </a>
    <a href="./add-task.html" class="Bar">
        <img src="assets/img/Group 1.png" alt="">
        <p>Add Task</p>
    </a>
    <a href="./contacts.html" class="Bar">
        <img src="assets/img/Vector (5).png" alt="">
        <p>Contacts</p>
    </a>


</div>

<div class="legalNotice">
    <img src="assets/img/Group 4 .png" alt="">
    <p>Legal notice</p>
</div>